*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background: #20262E;
  padding: 20px;
  font-family: Helvetica;
}

a{
  color: #333;
  text-decoration: none;
}

#App {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  transition: all 0.2s;
  margin: 0 auto;
  width: "100%";
}
